---
// components/Sections/Gallery.astro
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import IconTiArrowLeft from "../Icons/IconTiArrowLeft.astro";
import IconTiArrowRight from "../Icons/IconTiArrowRight.astro";
import Container from "../ui/Container.astro";
import Button from "../ui/Button.astro";
import R2Image from "../ui/R2Image.astro";

const siteData = await getCollection("siteData");
const siteInfo = siteData[0].data;
const site = siteInfo;
---

<section class="py-12 md:py-16">
  <Container width="marginxy">
    <div class="swiper gallery-swiper relative">
      <div class="swiper-wrapper">
        {
          site.ladengallery.map((item) => (
            <div class="swiper-slide px-4">
              <div class="rounded-lg overflow-hidden shadow-lg">
                <R2Image
                  src={item.image}
                  alt={item.name}
                  width={480}
                  height={640}
                  class="w-full h-auto"
                />
              </div>
            </div>
          ))
        }
      </div>

      <div class="swiper-button-prev">
        <Button
          title="Zurück"
          variant="circle"
          size="icon"
          className="btn-soft w-10 h-10 p-2"
        >
          <span class="sr-only">Previous</span>
          <IconTiArrowLeft class="fill-primary" />
        </Button>
      </div>
      <div class="swiper-button-next">
        <Button
          title="Zurück"
          variant="circle"
          size="icon"
          className="btn-soft w-10 h-10 p-2"
        >
          <span class="sr-only">Next</span>
          <IconTiArrowRight class="fill-primary" />
        </Button>
      </div>
    </div>
  </Container>
</section>

<script>
  import Swiper from "swiper";
  import { Navigation, A11y } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";

  document.addEventListener("DOMContentLoaded", () => {
    const swiper = new Swiper(".gallery-swiper", {
      modules: [Navigation, A11y],
      slidesPerView: 1,
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      loop: true,
      autoplay: {
        delay: 2500,
      },
      breakpoints: {
        768: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        992: {
          slidesPerView: 3,
          spaceBetween: 10,
        },
      },
    });
  });
</script>

<style>
  .swiper-button-next,
  .swiper-button-prev {
    width: 3rem;
    height: 3rem;
  }

  :global(.swiper-button-next::after),
  :global(.swiper-button-prev::after) {
    display: none;
  }
</style>
