---
// components/Product/Farbenhinweis.astro
import Heading from "../ui/Heading.astro";
---

<div class="my-10 max-w-4xl mx-auto">
  <Heading size="xs" fontweight="normal" class="indent-8 mb-3">
    Im Shop finden sich viele Fotos, für die Darstellung der Farben können wir
    jedoch keine Gewähr übernehmen. Ihre Bestellung wird im jedem Fall
    bearbeitet. Sollte ein Produkt gerade nicht lieferbar sein, werden Sie
    umgehend benachrichtigt.
  </Heading>
  <Heading size="xs" fontweight="normal" class="indent-8 mb-3">
    Erst wenn sich das Produkt im Warenkorb befindet, kann die Farbe ausgewählt
    werden. Mehrere Farben einer Garnsorte müssen also separat erneut wieder in
    den Warenkorb gelegt werden.
  </Heading>
</div>
