---
import CTA from "@/components/Sections/CTA.astro";
import Breadcrumbs from "@/components/ui/Breadcrumbs.astro";
import Container from "@/components/ui/Container.astro";
import Paragraph from "@/components/ui/Paragraph.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Container width="marginxy">
    <div class="max-w-2xl">
      <Breadcrumbs />

      <Paragraph>
        La Volotte ist geschlossen und es gibt den Laden in der Jakobstrasse
        nicht mehr. Den Onlineshop gibt es weiterhin, Sie können mich gerne per
        Mail kontaktieren.
      </Paragraph>
    </div>
  </Container>
  <CTA />
</Layout>
